@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
    font-family: 'Lato', sans-serif;
    color: rgb(81, 85, 99);
}

h1 {
    color: black;
}

code {
    display: inline-block;
    background: #bdc7d1;
    padding: .2em .5em;
    margin-right: 4px;
    border: 1px solid #515563;
    border-radius: .3em;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    margin: 5px;
}

input, button {
    font-size: .85em;
    padding: .65em 1em;
    border-radius: .3em;
    outline: 0;
}

input {
    border: 1px solid #515563;
    margin-right: 15px;
    width: 60%;
    max-width: 500px;
}

button {
    color: white;
    background: #05a361;
    border: 1px solid #019256;
    width: 20%;
    max-width: 160px;
}

.wrapper {
    padding-bottom: 25px;
    border-bottom: 3px dotted #515563;
}

#output {
    padding-top: 25px;
}